@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../assets/font/BrandonGrotesque-Regular.woff2') format('woff2'),
      url('../assets/font/BrandonGrotesque-Regular.woff') format('woff'),
      url('../assets/font/BrandonGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  padding: 1em;
  top: 0;
}

.logo-container h1 {
  margin: 0;
  font-size: 0.9em;
  font-weight: lighter;
  letter-spacing: 0.1em;
  font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
  color: #424242;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 2em;
  margin: 0 auto;
  padding-right: 4.5em;
}

.list-img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
