.launch-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: 0px 14px 12px 7px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 14px 12px 7px rgba(0,0,0,0.07);
  box-shadow: 0px 14px 12px 7px rgba(0,0,0,0.07);
  margin: 15px auto;
}
