@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../assets/font/BrandonGrotesque-Medium.woff2') format('woff2'),
      url('../assets/font/BrandonGrotesque-Medium.woff') format('woff'),
      url('../assets/font/BrandonGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.launch-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 3px 3px rgba(0,0,0,0.09);
  -moz-box-shadow: 1px 2px 3px 3px rgba(0,0,0,0.09);
  box-shadow: 1px 2px 3px 3px rgba(0,0,0,0.09);
  margin: 10px auto;
  padding: 0.5em 1em;
  font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
}

.launch-item-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.7em;
  font-weight: 500;
  font-style: normal;
  color: #646464;
}

.launch-item-number {
  font-size: 1.5em;
  margin-left: 1em;
  margin-right: 2.5em;
}

.launch-item-right {
  text-align: right;
}

.launch-item-rocket {
  margin-top: 0.5em;
  font-weight: bold;
  font-style: normal;
  font-size: 1.3em;
  color: #646464;
}

.launch-item-date {
  font-weight: lighter;
  font-style: normal;
  font-size: 1em;
  color: rgb(114, 114, 114);
}
