@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../assets/font/BrandonGrotesque-Bold.woff2') format('woff2'),
      url('../assets/font/BrandonGrotesque-Bold.woff') format('woff'),
      url('../assets/font/BrandonGrotesque-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.reload-container  {
  padding: 1em 0;
}

.reload-container button {
  background-color:#0C3F75;
  color: #fff;
  font-size: 0.9em;
  font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
  padding: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.reload-container button:hover {
  background-color: #001C4B;
  color: #fff;
}
